.portfolio__pinned {
  &--item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27rem 10rem;
    padding: 1rem;
    background: $color-white;
    border-radius: 0.5rem;
    @include blurboxshadow;

    &-img {
      height: 23rem;
      width: 25rem;
      overflow: hidden;
      margin-bottom: 3rem;
      background: $color-grey-lighten;
      overflow: hidden;
      position: relative;

      &:hover {
        & img {
          filter: blur(10px) grayscale(100%);
        }
      }

      & img {
        height: 110%;
        width: 160%;
        transition: all 0.5s ease-in;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      font-family: "Nunito", cursive;
      font-size: 2rem;

      margin-left: 2rem;

      & h4 {
        margin-bottom: 2rem;
      }
    }

    &-tag {
      display: flex;
      align-items: flex-start;

      & h4 {
        margin-left: 1rem;
        font-weight: 400;
        color: $color-primary-lighten;
      }
    }

    &-dot {
      height: 1.4rem;
      width: 1.4rem;

      content: "";
      margin-top: 0.6rem;
      border-radius: 50%;
      background-color: $color-secondary-lighten;
    }
  }
}

.portfolio {
  &__icon {
    opacity: 0;
    cursor: pointer;
    animation: 0.5s appear 0.5s ease-in forwards;
    transition: color 0.2s ease-in;

    &:hover {
      color: $color-secondary;
    }
  }

  &__options {
    height: 100%;
    width: 100%;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    z-index: 2;
  }
}
