// Text Appear
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Typing Animation
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

// Text List 
@keyframes textList {
  0%, 16.66%, 100% {transform:translate3d(0,-33%,0);}
  20.66%, 36.32% {transform:translate3d(0,-66%,0);}
  40.32%,56.98% {transform:translate3d(0,-99%,0);}
  60.98%,76.64% {transform:translate3d(0,-66%,0);}
  80.64%,96.3% {transform:translate3d(0,-33%,0);}
}

//Animation Between Routes
.fade-enter {
  opacity: 0;
  position: relative;
  top: 0;
  left: 100rem;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  left: 0;
  transition: all 500ms ease-in;
}
