.title--courgettee {
  font-family: "Courgette", cursive;
  font-size: 8rem;

  @include respond(tab-port) {
    font-size: 9rem;
  }

  @include respond(large-phone) {
    font-size: 8.5rem;
  }

  @include respond(small-phone) {
    font-size: 4.5rem;
  }
}

.subtitle--pacifico {
  font-family: "Nunito", cursive;
  font-weight: 300;
  font-size: 4rem;
}
