.map--marker {
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;

	color: $color-secondary;
	background-color: $color-secondary;
}

.color--white {
	color: $color-white;
}

.margin__left--5 {
	margin-left: 5rem;
}

.margin__right--1 {
	margin-right: 1rem;
}

.margin__right--2 {
	margin-right: 2rem;
}

.margin__right--3 {
	margin-right: 3rem;
}
