.about {
  &__container {
    height: auto;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    background-color: $color-primary-lighten;
  }

  &__quote {
    &--container {
      height: 15rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $color-secondary-darken;
      
    }
  }
}
