.home {
    &__container {
        height: 100vh;
        width: 100vw;
        background-image: 
            linear-gradient(
                to right,
                rgba($color-primary, .9),
                rgba($color-primary-lighten, .9)
            );
        overflow: hidden;
    }

    &__video-background {
        &--container,
        &--content {
            height: 100%;
            width: 100%;
        }

        &--container {
            position: absolute;
            z-index: -1;
            overflow: hidden;
        }

        &--content {
            position: relative;
            object-fit: cover;
        }
    }

    &__text {
        &--container {
            height: 100vh;
            width: 100vw;
            display: grid;
            justify-content: center;
            align-content: center;
        }
    }
}