.home {
  &__container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right, 
      rgba($color-primary, 0.9), 
      rgba($color-primary-lighten, 0.9)
    );
    overflow: hidden;
  }

  &__video-background {
    &--container,
    &--content {
      height: 100%;
      width: 100%;
    }

    &--container {
      position: absolute;
      z-index: -1;
      overflow: hidden;
    }

    &--content {
      position: relative;
      object-fit: cover;
    }
  }

  &__text {
    &--container {
      height: 100vh;
      width: 100vw;
      display: grid;
      justify-content: center;
      align-content: center;
    }

    &--name-container {
      display: inline-block;
      justify-self: center;
      animation: appear 1.5s;
    }

    &--subtitle-container {
      display: inline-block;
    }

    &--subtitle-container h1 {
      display: inline-block;
      overflow: hidden;
      letter-spacing: 2px;
      animation: 
        typing 2s steps(40, end), 
        blink .5s step-end infinite;
      white-space: nowrap;
      font-size: 3rem;
      font-weight: 300;
      border-right: 4px solid black;
      box-sizing: border-box;

      @include respond(big-desktop) {
        font-size: 4rem;
      }

      @include respond(tab-port) {
        font-size: 3.5rem;
      }

      @include respond(large-phone) {
        font-size: 3rem;
      }

      @include respond(small-phone) {
        font-size: 1.4rem;
      }
    }
  }
}
