.contact {
	&__container {
		min-height: 100vh;
		height: auto;
		width: 100vw;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	&__header {
		height: 10rem;
		width: 100%;
		background-color: $color-primary-lighten;

		display: flex;
		align-items: center;
		padding: 2rem;

		& h1 {
			font-family: "Courgette", cursive;
			font-size: 4rem;
			color: $color-white;
		}
	}

	&__content {
		&--container {
			height: auto;
			width: 50vw;

			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-column-gap: 10rem;

			justify-content: center;
			background-color: $color-primary;
		}

		&--email,
		&--schedule {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			color: $color-white;

			& h1 {
				font-family: "Nunito", cursive;
				margin-top: 3rem;
			}
		}

		&--schedule {
			cursor: pointer;
			background-color: $color-secondary;
			transition: all 0.7s ease-in;

			&:hover {
				background-color: $color-tertiary;
			}
		}
	}

	&--footer {
		grid-column-start: 1;
		grid-column-end: -1;
	}
}
