.contact {
	&__container {
		height: 100vh;
		width: 100vw;

		display: grid;
		grid-template-columns: 1fr;
    grid-template-rows: 10rem 30rem;
	}

	&__header {
		height: 10rem;
		width: 100%;
		background-color: $color-primary-lighten;

		display: flex;
		align-items: center;
		padding: 2rem;

		& h1 {
      font-family: 'Courgette', cursive;
      font-size: 4rem;
      color: $color-white;
		}
  }

  &__content {
    &--container {
      height: 42.7vh;
      width: 100vw;
      padding: 1rem;

      display: grid;
      grid-template-columns: repeat(auto-fit, 40.5rem);
      grid-template-rows: 1fr;
      grid-column-gap: 10rem;

      justify-content: center;
      background-color: $color-primary;
    }

    &--email,
    &--schedule {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .2s ease-in;
      cursor: pointer;

      color: $color-white;

      & h1 {
        font-family: 'Nunito', cursive;
        margin-top: 3rem;
      }
    }

    &--schedule:hover {
      background-color: $color-secondary;
    }

    &--email:hover {
      background-color: $color-tertiary;
    }
  }
}
