.contact {
	&__container {
		min-height: 100vh;
		height: auto;
		width: 100%;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	&__content {
		&--container {
			height: auto;
			width: 50vw;

			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;

			justify-content: center;
			background-color: $color-primary;
		}

		&--email,
		&--schedule {
			display: flex;
			flex-direction: column;
			color: $color-white;

			& h1 {
				font-family: "Nunito", cursive;
				margin-top: 3rem;
			}
		}

		&--schedule {
			cursor: pointer;
			justify-content: center;
			align-items: center;
			background-color: $color-secondary;
			transition: all 0.7s ease-in;

			&:hover {
				background-color: $color-tertiary;
			}
		}

		&--email {
			font-family: "Nunito", cursive;
			padding: 1rem;

			& h1 {
				font-size: 4rem;
				font-weight: 300;
				margin: 3rem;
			}

			& h3 {
				font-size: 2rem;
				font-weight: 300;

				margin-left: 3rem;
			}
		}
	}

	&--footer {
		grid-column-start: 1;
		grid-column-end: -1;
	}
}

.info {
  &--email {
    color: $color-secondary;
    margin-bottom: 1rem;
  }
}