.about {
  &__container {
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    background-color: $color-primary-lighten;
  }

  &__quote {
    &--container {
      height: 15rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: $color-tertiary;

      @include respond(large-phone) {
        height: 25rem;
      }

      @include respond(small-phone) {
        display: none;
      }

      & h1 {
        font-family: "Nunito", cursive;
        font-size: 3rem;
        font-weight: 700;
      }

      & h1:not(:last-child) {
        margin-right: 1rem;

        @include respond(large-phone) {
          margin-right: 0;
        }
      }
    }

    &--text {
      overflow: hidden;
      height: 4rem;

      @include respond(large-phone) {
        margin-bottom: 3rem;
      }
    }

    &--list-container {
      @include respond(large-phone) {
        position: absolute;
        overflow: hidden;
        height: 3.5rem;
      }
    }

    &--list {
      margin-top: 0;
      padding-left: 48rem;
      list-style: none;

      animation: textList 10s infinite;

      @include respond(tab-port) {
        padding-left: 43rem;
      }

      @include respond(large-phone) {
        padding-left: 0;
        margin-top: 3.3rem;
      }

      & ul {
        line-height: 4rem;
        margin: 0;
      }
    }
  }
}
