.menu {
  // Container and Hamburger Button
  &__container {
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
  }

  &__container button {
    top: 1.5rem;
    right: 1.5rem;
    position: fixed;
    text-align: center;
    z-index: 15;

    @include respond(tab-land) {
      transform: scale(0.7);
    }

    @include respond(tab-port) {
      transform: scale(0.8);
    }
  }

  &__container button:focus {
    outline: none;
  }

  // Background Animation
  &__background,
  &__background--active {
    top: -1rem;
    right: -1rem;

    height: 100vh;
    width: 1px;
    position: fixed;
    background-color: $color-secondary;

    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);

    z-index: 10;
  }

  &__background--active {
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
    box-shadow: -1px 0px 10px 1px rgba($color-primary, 0.6);
    overflow: hidden;

    @include respond(tab-land) {
      width: 25vw;
    }

    @include respond(tab-port) {
      width: 30vw;
    }

    @include respond(large-phone) {
      width: 100vw;
    }
  }

  // Navigation
  &__nav--container,
  &__nav--container--active {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 14;
  }

  &__nav--container {
    opacity: 0;
    width: 0;
    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav--container--active {
    opacity: 1;
    width: 20vw;

    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, 1fr));

    align-content: center;
    justify-content: center;

    transition: all 0.3s 0.3s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-land) {
      width: 25vw;
    }

    @include respond(tab-port) {
      width: 30vw;
    }

    @include respond(large-phone) {
      width: 100vw;
      grid-template-rows: 1fr 10rem;
    }
  }

  // List
  &__list--active {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(5, minmax(min-content, 5rem));
    padding-top: 10rem;

    align-content: flex-start;
    justify-content: center;

    list-style: none;
    text-align: center;

    @include respond(tab-land) {
      padding-top: 15rem;
    }

    @include respond(tab-port) {
      padding-top: 17rem;
    }

    @include respond(large-phone) {
      padding-top: 0;
      grid-row-gap: 2rem;
      align-content: center;
    }
  }

  &__list {
    display: none;
  }

  // Item
  &__item {
    margin: 1rem;
  }

  &__item--link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem 2rem;

      font-family: "Nunito", cursive;
      font-weight: 700;
      font-size: 3rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 240%;
      transition: all 0.3s;

      @include respond(tab-port) {
        font-size: 3.4rem;
      }

      @include respond(large-phone) {
        font-size: 3.7rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-secondary;
      transform: translateX(1rem);
    }
  }

  // Icons
  &__icons--active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;

    @include respond(large-phone) {
      font-size: 1.4rem;
    }
  }

  &__icons {
    display: none;
  }

  &__icon {
    cursor: pointer;
    transition: transform 0.2s;
  }

  &__icon:hover {
    transform: scale(1.2);
  }
}
