.about-subjects {
  &__container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    margin-top: 2rem;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);

    justify-content: center;
    align-items: center;
  }

  &__item {
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Nunito", cursive;
    font-size: 1.2rem;
    color: $color-white;
    background-color: $color-tertiary;
    transition: transform 0.1s ease-in;

    padding: 2rem;
    margin: 2rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}
